<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
    <classPathEntry location="E:\repository\mysql\mysql-connector-java\5.1.46\mysql-connector-java-5.1.46.jar"/>
    <context id="context1">
        <!-- 是否生成注释 -->
        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <!-- 数据库连接 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/houseanalysis"
                        userId="root" password="123456" />

        <!-- 生成的包名和工程名 -->
        <javaModelGenerator targetPackage="com.hrong.db2kafka.model"
                            targetProject="src/main/java"/>
        <!-- xml映射文件   -->
        <sqlMapGenerator targetPackage="com.hrong.db2kafka.mapping"
                         targetProject="src/main/java" />
        <!--  mapper接口    -->
        <javaClientGenerator targetPackage="com.hrong.db2kafka.dao"
                             targetProject="src/main/java" type="XMLMAPPER" />

        <!-- 数据库表 以及是否生成example-->
        <table  tableName="gatherdata" domainObjectName="GatherData"
                enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false"
                enableSelectByExample="false" selectByExampleQueryId="false" >
            <!-- 设置别名 -->
            <!--
            <columnOverride column="ds_id" property="dsId" />
             -->
        </table>
    </context>
</generatorConfiguration>
